#alert-wrapper{
  padding:0% 10%;
  font-family: 'Kanit',sans-serif;
}

#high-score{
  margin-top:10px;
}

.red{
  background-color:indianred;
  padding: 0px 10px;
}

.green{
  background-color:lightgreen;
  padding: 0px 10px;
}